/* Div (main content)
	header.header
		.item = input text thing
		.add = add button
	main.container
		ul.todo-list
			li.todo-item
				.check (checkbox)
				label (invisible)
				span (todo text)
				button.delete-todo
		.empty (empty state container)

 */


/* CSS Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Arial, Helvetica, sans-serif;
  line-height: 1.4;
  text-align: center;
}

a {
  color: #333;
  text-decoration: none;
}

/* done */

.done span {
  text-decoration: line-through;
}

/* delete button */

.delete-todo{
  display: none;
}

.done .delete-todo {
  display: inline;
} 

/* empty state handling */
.empty {
  display: none;
}

.todo-list:empty {
  display: none;
}

.todo-list:empty + .empty {
  display: inline;
}