/* CSS Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  line-height: 1.4;
  text-align: center;
}

a {
  color: #333;
  text-decoration: none;
}

/* Title */

.title {
  margin: 20px;
}

/* Header */

.header {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.item {
  border-radius: 25px;
  border: 2px solid rgb(29, 153, 255);
  padding: 20px;
  margin: 0 20px;
  width: 300px;
  height: 15px;
  font-size: large;
}

.add {
  fill: rgb(29, 153, 255);
  background-color: rgb(255, 255, 255);
  border: 0;
  cursor: pointer;
  animation: rotation 2s 2s linear;
}

/* todo list */
.todo-list {
  display: flex;
  flex-direction: column;
}

.todo-item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(29, 153, 255);
  border-top-right-radius: 30%;
  height: 100px;
  margin-top: 10px;
}

.todo-item:hover {
  background-color: rgb(21, 100, 165);
  cursor: pointer;
}

.todo-item span {
  font-size: 1.2 em;
  margin: 0 20px;
}

/* done todos*/
.done {
  background-color: lightgrey;
  order: 1;
}

.done span {
  text-decoration: line-through;
  color: grey;
}

/* delete: hide / show */

.delete-todo {
  display: none;
}

.done .delete-todo {
  display: inline;
}

/* empty state */
.empty {
  display: none;
}

.empty h2 {
  font-size: 1.5em;
}

.empty p {
  color: gray;
}

.todo-list:empty {
  display: none;
}

.todo-list:empty + .empty {
  display: inline;
}

/* add button animation */
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
